.header {
    height: 100px;
    background-color: #34495e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.title {
    font-size: 1.5rem;
}

.user {
    font-size: 1rem;
}
