.large {
    display: flex;
    align-items: center;
    font-weight: 200;
    padding: 14px 0;
    .time {
        font-size: 16px;
        font-weight: 600;
    }
}
.small {
    width: 200px;
    height: 100px;
}
