.wrapper{
    height: 100%;
    display: flex;
    align-items: center;

}

.search {
    position: relative;
    width: 400px;
    height: 60%;
    padding-left: 16px;
    display: flex;
    background-color: #fff;
    border-radius: 22px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: #000;
        font-size: 1.3rem;
        background-color: transparent;
        padding-right: 40px;
    }
}

.clear{
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
}

.search-btn {
    width: 50px;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-size: 1.8rem;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

.search-result {
    width: 400px;
}

.no-result {
    height: 100px;
    padding: 8px 16px;
    color: #78b43d;
    font-size: 1.4rem;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}